<footer class="footer py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>BRAND</h1>
        <p class="small">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
          voluptatum rem ratione debitis minima iure alias sequi, molestiae
          quibusdam maxime officiis enim provident magni facilis aut, rerum
          blanditiis modi voluptas.
        </p>
      </div>

      <div class="col-md-4">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white text-decoration-none"
              >Sobre Nosotros</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">Servicios</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none"
              >Términos y Condiciones</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none"
              >Política de Privacidad</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Síguenos</h5>
        <div class="d-flex">
          <a href="#" class="me-3">
            <i class="bi bi-facebook" style="font-size: 30px"></i>
          </a>
          <a href="#" class="me-3">
            <i class="bi bi-twitter" style="font-size: 30px"></i>
          </a>
          <a href="#" class="me-3">
            <i class="bi bi-instagram" style="font-size: 30px"></i>
          </a>
        </div>
      </div>
    </div>

    <hr class="my-3 border-light" />

    <div class="text-center small">
      © 2025 BRAND. Todos los derechos reservados.
    </div>
  </div>
</footer>
