<footer class="footer py-4 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>FERREMAS</h1>
        <p class="small">
          FERREMAS es una distribuidora líder en productos de ferretería y construcción en Chile, 
          con más de 40 años de trayectoria. Contamos con 7 sucursales y una tienda en línea 
          para ofrecerte la mejor experiencia de compra.
        </p>
      </div>

      <div class="col-md-4">
        <h5>Enlaces rápidos</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'home' %}" class="text-white text-decoration-none">Inicio</a>
          </li>
          <li>
            <a href="{% url 'store:lista_productos' %}" class="text-white text-decoration-none">Catálogo</a>
          </li>
          <li>
            <a href="{% url 'terms_and_conditions' %}" class="text-white text-decoration-none">Términos y condiciones</a>
          </li>
          <li>
            <a href="{% url 'about' %}" class="text-white text-decoration-none">Contáctanos</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Síguenos</h5>
        <div class="d-flex">
          <a href="#" class="me-3">
            <i class="bi bi-facebook" style="font-size: 30px"></i>
          </a>
          <a href="#" class="me-3">
            <i class="bi bi-twitter" style="font-size: 30px"></i>
          </a>
          <a href="#" class="me-3">
            <i class="bi bi-instagram" style="font-size: 30px"></i>
          </a>
        </div>
      </div>
    </div>

    <hr class="my-3 border-light" />

    <div class="text-center small">
      © 2025 FERREMAS. Todos los derechos reservados.
    </div>
  </div>
</footer>
