<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" id="brand" href="{% url 'home' %}"> FERREMAS </a>

    <div class="d-flex align-items-center ms-auto">
      {% if user.is_authenticated %}
      <!-- Show "Bienvenido, (Usuario)" when logged in -->
      <div class="dropdown">
        <button
          class="btn btn-outline-light nav-btn dropdown-toggle me-2 order-lg-2"
          type="button"
          id="userDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person-circle me-2"></i> Bienvenido, {{ user.username }}
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="userDropdown"
        >
          <li>
            <a class="dropdown-item" href="{% url 'authentication:profile' %}">
              <i class="bi bi-person"></i> Mi Perfil
            </a>
          </li>
          <li>
            <!-- Updated logout button -->
            <button class="dropdown-item" onclick="logoutUser()">
              <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
            </button>
          </li>
        </ul>
      </div>
      {% else %}
      <!-- Show "Iniciar Sesión" when not logged in -->
      <button
        class="btn btn-outline-light nav-btn me-2 order-lg-2"
        onclick="openLoginModal()"
      >
        <i class="bi bi-person-circle me-2"></i> Iniciar Sesión
      </button>
      {% endif %}

      <button
        class="navbar-toggler order-lg-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse order-lg-1" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button
            class="btn btn-outline-light nav-btn"
            data-bs-toggle="modal"
            data-bs-target="#carritoModal"
          >
            <i class="bi bi-cart3 me-2"></i> Carrito
          </button>
        </li>
        <li class="nav-item">
          <a
            href="{% url 'store:lista_productos' %}"
            class="btn btn-outline-light nav-btn"
          >
            <i class="bi bi-box-seam me-2"></i> Catálogo
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>