# .gitignore

# Python virtual environment
.venv/
venv/

# Node.js modules
node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Environment variables
.env
*.env

# macOS
.DS_Store

# Windows
Thumbs.db