{% extends 'base.html' %}
{% load static %}
{% block title %}Sobre Nosotros{% endblock %}
{% block extra_css %}

{% endblock %} 
{% block content %}
<div class="container mt-5">
    <h1>About</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat natus nobis tempore odit repellat praesentium ipsa hic ab magnam enim. Quae quisquam accusamus sunt aliquam odio minus quas, cupiditate consequuntur?</li>
        <li class="list-group-item">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat natus nobis tempore odit repellat praesentium ipsa hic ab magnam enim. Quae quisquam accusamus sunt aliquam odio minus quas, cupiditate consequuntur?</li>
    </ul>
</div>
{% endblock %}
