{% extends 'base.html' %}
{% load static %}
{% block title %}Política de Privacidad{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Política de Privacidad</h1>
    <p class="text-muted mb-4">Última actualización: Marzo 2025</p>
    
    <ul class="list-group list-group-flush information-list">
        <li class="list-group-item information-list-item">
            <strong>1. Introducción</strong><br>
            En Ferremas, valoramos su privacidad y nos comprometemos a proteger su información personal. Esta política describe cómo recopilamos, usamos y protegemos sus datos.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>2. Información que Recopilamos</strong><br>
            Podemos recopilar información personal como su nombre, dirección de correo electrónico, número de teléfono, dirección de envío y detalles de pago cuando realiza una compra o se registra en nuestro sitio.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>3. Uso de la Información</strong><br>
            Utilizamos su información para procesar pedidos, proporcionar soporte al cliente, enviar actualizaciones sobre su compra y mejorar nuestros servicios. También podemos usar su información para enviarle promociones y ofertas, si ha dado su consentimiento.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>4. Compartir Información</strong><br>
            No compartimos su información personal con terceros, excepto cuando sea necesario para procesar pagos, realizar envíos o cumplir con requisitos legales.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>5. Seguridad de la Información</strong><br>
            Implementamos medidas de seguridad técnicas y organizativas para proteger su información personal contra accesos no autorizados, pérdida o alteración. Sin embargo, no podemos garantizar la seguridad absoluta de los datos transmitidos a través de Internet.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>6. Cookies</strong><br>
            Utilizamos cookies para mejorar su experiencia en nuestro sitio web. Las cookies nos permiten recordar sus preferencias y personalizar el contenido. Puede desactivar las cookies en la configuración de su navegador, pero esto puede afectar la funcionalidad del sitio.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>7. Derechos del Usuario</strong><br>
            Usted tiene derecho a acceder, corregir o eliminar su información personal. También puede retirar su consentimiento para el uso de sus datos en cualquier momento. Para ejercer estos derechos, contáctenos a través de los medios indicados a continuación.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>8. Cambios en la Política</strong><br>
            Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página, y su uso continuo del sitio después de dichos cambios constituirá su aceptación de la nueva política.
        </li>
    </ul>
</div>
{% endblock %}