{% extends 'base.html' %}
{% load static %}
{% block title %}Términos y Condiciones{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Términos y Condiciones</h1>
    <p class="text-muted mb-4">Última actualización: Marzo 2025</p>
    
    <ul class="list-group list-group-flush information-list">
        <li class="list-group-item information-list-item">
            <strong>1. Aceptación de los Términos</strong><br>
            Al acceder y utilizar este sitio web, usted acepta cumplir con los siguientes términos y condiciones, así como con todas las leyes y regulaciones aplicables. Si no está de acuerdo con estos términos, le rogamos que no utilice este sitio.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>2. Uso del Sitio</strong><br>
            Este sitio web está destinado únicamente a usuarios mayores de 18 años. Usted se compromete a utilizar el sitio de manera legal y de conformidad con los términos establecidos. Está prohibido realizar cualquier acción que afecte negativamente la funcionalidad del sitio o su disponibilidad para otros usuarios.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>3. Productos y Servicios</strong><br>
            Los productos ofrecidos en nuestro sitio están sujetos a disponibilidad. Nos reservamos el derecho de modificar, suspender o descontinuar cualquiera de los productos o servicios en cualquier momento sin previo aviso.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>4. Precios y Pagos</strong><br>
            Todos los precios de los productos se muestran en la moneda local y están sujetos a cambios sin previo aviso. Los pagos se realizan a través de plataformas de pago seguras. Usted se compromete a proporcionar información de pago precisa y actualizada.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>5. Política de Devoluciones y Reembolsos</strong><br>
            Ofrecemos una política de devolución dentro de los 30 días posteriores a la compra, siempre que el producto esté en su estado original. No se aceptarán devoluciones de productos que hayan sido utilizados o dañados por el comprador.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>6. Propiedad Intelectual</strong><br>
            Todo el contenido de este sitio web, incluyendo textos, imágenes, logotipos, y gráficos, es propiedad de Ferremas o de sus respectivos propietarios. Queda estrictamente prohibido copiar, reproducir, distribuir o utilizar el contenido de este sitio sin el permiso expreso de los titulares de los derechos.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>7. Limitación de Responsabilidad</strong><br>
            Ferremas no se hace responsable por daños directos, indirectos, incidentales, especiales, consecuentes o punitivos que resulten del uso de este sitio web o la compra de productos a través de este. Toda la información proporcionada en este sitio se ofrece "tal cual" sin ninguna garantía.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>8. Modificación de los Términos</strong><br>
            Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Cualquier cambio será publicado en esta página, y su uso continuo del sitio después de dichos cambios constituirá su aceptación de los nuevos términos.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>9. Ley Aplicable</strong><br>
            Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del país en el que se encuentra la sede de Ferremas, sin considerar su conflicto de leyes. Cualquier disputa relacionada con estos términos será resuelta en los tribunales competentes.
        </li>
        
        <li class="list-group-item information-list-item">
            <strong>10. Contacto</strong><br>
            Si tiene alguna pregunta o inquietud acerca de estos términos, puede ponerse en contacto con nosotros a través de:
            <ul class="mt-2">
                <li><strong>Correo Electrónico:</strong> <a href="mailto:contacto@ferremas.com">contacto@ferremas.com</a></li>
                <li><strong>Teléfono: </strong>+56 9 6514 0176</li>
                <li><strong>Dirección:</strong> Álvarez 2336, 2571188 Viña del Mar, Valparaíso</li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}