@font-face {
  font-family: "FuturaTitle";
  src: url("../fonts/Futura\ Std\ Extra\ Bold.ttf");
}

@font-face {
  font-family: "FuturaSubtitle";
  src: url("../fonts/Futura\ Std\ Heavy.ttf");
}

@font-face {
  font-family: "FuturaP";
  src: url("../fonts/Futura\ Std\ Book.ttf");
}

body {
  background-color: white;
  color: black;
}

#brand {
  font-family: "FuturaTitle", serif;
}

h1 {
  font-family: "FuturaTitle", serif;
  text-transform: uppercase;
}

h2 {
  font-family: "FuturaSubtitle", serif;
}

h5 {
  font-family: "FuturaSubtitle", serif;
}

p {
  font-family: "FuturaP", sans-serif;
}

a {
  font-family: "FuturaP", sans-serif;
}

li {
  font-family: "FuturaP", serif;
}

/* MAIN: */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main.main-content {
  flex-grow: 1;
}

/* NAVBAR:*/
.navbar {
  background-color: black;
}

.navbar-brand,
.nav-link {
  
  color: white !important;
}

/* FOOTER:*/

.footer {
  background-color: black;
  color: white;
  padding: 15px 0;
  width: 100%;
}
