<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="loginModalLabel">
          <i class="bi bi-person-circle me-2"></i>Iniciar Sesión
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-4">
          <h4>Bienvenido a FERREMAS</h4>
          <p class="text-muted">Inicia sesion o registrate para continuar.</p>
        </div>
        <!-- Acá va el formulario -->
        <form id="loginForm">
          <div class="mb-3">
            <label for="loginUsername" class="form-label">Usuario</label>
            <input
              type="text"
              class="form-control"
              id="loginUsername"
              name="username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="loginPassword" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="loginPassword"
              name="password"
              required
            />
          </div>
          <div
            id="loginError"
            class="text-danger mb-2"
            style="display: none"
          ></div>
          <button type="submit" class="btn btn-success w-100">
            Iniciar sesión
          </button>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <a
          href="#"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          onclick="openRegisterModal()"
        >
          Registrarse
        </a>
      </div>
    </div>
  </div>
</div>
