<div class="modal fade" id="registerModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="registerModalLabel">
          <i class="bi bi-person-plus me-2"></i>Registrarse
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-4">
          <h4>Únete a FERREMAS</h4>
          <p class="text-muted">
            Crea una cuenta para disfrutar de nuestros servicios.
          </p>
        </div>
        <!-- Acá va el formulario de registro -->
        <button type="submit" class="btn btn-success">Registrarse</button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <a
          href="#"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          onclick="openLoginModal()"
        >
          Volver a Iniciar Sesión
        </a>
      </div>
    </div>
  </div>
</div>
